<li class="group">
  <a href="<%= group_path(group) %>">
    <img src="<%= group.icon %>" alt="<%= group.name %>"/>
    <div>
      <h2><%= group.name %></h2>
    </div>
    <span>$<%= group.items.reduce(0) { |total, element| total + element.amount } %></span>
  </a>
</li>